@charset "utf-8";
/* CSS Document */



/* ******************** */
/*     fist-view        */
/* ******************** */

.first-view.shadow-min {
    position: relative;
    z-index: 20;
}

.top-page .first-view #bubble-container {
    height: 100vh;
}

:root {
    --lower-page-height: 50vh;
}

.top-page #bubble-container {
    height: 100vh;
    background-color: #ffffff;
}

.top-page #bubble-container {
    display: flex;
    justify-content: space-between;
}

.lower-page-h1 h1 {
    z-index: 30;
}


.lower-page-h1 {
    height: var(--lower-page-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fv-bg);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* bubbles.js */
#bubble-container {
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 20;
}

.bubble {
    pointer-events: auto;
    cursor: grab;
    z-index: 25;
}



/* ************************************************* */
/*     top page                                      */
/* ************************************************* */

/* ******************************** */
/*     top page  fist-view          */
/* ******************************** */

.side-width {
    width: 5%;
}

/* スクロールダウン *****************************/
/* html {
    scroll-behavior: smooth;
} */

.scroll-down {
    position: relative;
    height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 30;
    mix-blend-mode: difference;
}

.scroll-down:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

.scroll-down a {
    pointer-events: auto;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;
    width: 1.8rem;
    padding: .625rem .625rem 6.875rem;

    font-size: 1.25rem;
    font-family: var(--yomogi);
    font-weight: 900;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transition: .2s;
    margin: auto;
    color: #ffffff;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-down a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 75%;
    width: 1px;
    height: 6.25rem;
    background: #ddd;
}

.scroll-down a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 75%;
    width: 3px;
    height: 6.25rem;
    background: var(--black);
}

.scroll-down a:hover {
    opacity: .5;
}

.scroll-down a:after {
    animation: scroll-down-ani 1.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes scroll-down-ani {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    50.1% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* h1 ***************************************************/
.top-h1 {
    height: 100vh;
    display: flex;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-h1 h1 {
    font-family: var(--yomogi);
    color: #ffffff;
    mix-blend-mode: difference;
    line-height: 0.9;
    text-align: center;
    z-index: 30;
}

:root {
    --top-page-name: 5rem;
    --top-page-portfplio: calc(var(--top-page-name) * 0.6);
}

@media only screen and (max-width: 768px) {
    :root {
        --top-page-name: clamp(3.625rem, 1.333rem + 7.64vw, 5rem);
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --top-page-name: clamp(2.5rem, 0.25rem + 11.25vw, 3.625rem);
    }
}

.h1-portfolio {
    font-size: var(--top-page-portfplio);
}

.h1-name {
    font-size: var(--top-page-name);
}

/* ******************************** */
/*      about                       */
/* ******************************** */

/* 共有 about *************************************/
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img {
    width: 50%;
}

.about-h-p-contains {
    width: 45%;
    padding-right: var(--side-padding);
}

@media only screen and (max-width: 768px) {
    .about-section {
        display: block;
    }

    .about-h-p-contains {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 0;
    }

    .about-h-p,
    .about-img {
        max-width: 31.25rem;
        width: 80%;
    }

    .about-h-p {
        margin-top: -21.81vw;
        padding: 0 min(7.81vw, 3.75rem) 0;
        height: 49.6vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: min(7.81vw, 3.75rem) 0 0 min(7.81vw, 3.75rem);
        background-color: #ffff;

        box-shadow: 0.2rem 0.2rem 1rem 0rem #77777725,
            inset -0.2rem -0.2rem 0.4rem 0 rgba(204, 223, 228, 0.05),
            inset 0.1rem 0.1rem 0.9rem 0 rgba(255, 255, 255, 0.25);
    }
}

/* top-page about *************************************/



/* ******************************** */
/*       works                      */
/* ******************************** */

/* 共有 works *************************************/
:root {
    --works-list-div-width: 47%;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4.16vw calc(100% - (var(--works-list-div-width) * 2));
}

.works-list>div {
    width: var(--works-list-div-width);
}

@media only screen and (max-width: 768px) {
    .works-list {
        flex-direction: column;
        align-items: center;
    }

    :root {
        --works-list-div-width: 100%;
    }

    .works-list {
        gap: 7vw 0;
    }
}

.works-overview {
    background-color: #ffff;
    border-radius: 2.5rem;
    overflow: hidden;
}

.works-overview-area {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.works-overview-area img {
    transition: transform 0.7s ease;
}

.works-overview:hover .works-overview-area img {
    transform: scale(1.1);
}

.works-overview:hover .works-txt {
    opacity: 0.7;
}

.works-txt {
    width: 84%;
    margin: clamp(1.75rem, 1.249rem + 1.04vw, 2.5rem) auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    opacity: 1;
    transition: opacity 0.3s ease;
}

/* .works-meta {
    display: flex;
    align-items: center;
    gap: 2vw;
} */

@media only screen and (min-width: 769px) and (max-width: 1024px),
only screen and (max-width: 480px) {
    .works-txt {
        width: 80%;
        gap: 0;
    }

    .works-meta {
        flex-direction: column;
        align-items: flex-start;
        gap: 1vw;
    }
}

.works-label {
    height: 1.875rem;
    padding: 0 .625rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.is-solo {
    background-color: var(--pink);
}

.is-team {
    background-color: var(--orange);
}

.works-scope {
    display: flex;
    white-space: nowrap;
}

.works-scope li:not(:first-child) {
    margin-left: 5%;
}

.works-scope li:not(:last-child)::after {
    content: "/";
    margin: 0 5%;
}

/* top-page works *************************************/

/* ******************************** */
/*       works  detail              */
/* ******************************** */

/* h2が下まで行かないようにする */
:root {
    --works-detail-stcky-container-height: 405px;
    --fixed-top-height: 30px;
}

/* 固定要素とdetailsタグの空白*/
.works-detail-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* h2と概要 */
:root {
    --works-details-h2-overview-gap: 10px;
    --works-details-h2-overview-padding-bottom: 50px;
}

.works-details-h2-overview-set {
    display: flex;
    flex-direction: column;
    gap: var(--works-details-h2-overview-gap);
    position: sticky;
    top: var(--fixed-top-height);
    margin-bottom: var(--works-detail-stcky-container-height);
    padding-bottom: var(--works-details-h2-overview-padding-bottom);
}

/* h2　概要 */
.works-details-overview {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  */
.works-detail-stcky-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: calc(var(--works-detail-stcky-container-height) * -1);
}



:root {
    --works-detail-img-width: 40%;
    --works-detail-desc-width: calc(100% - var(--works-detail-img-width)- 6%);
}

/* 左　画像 */

.works-detail-img {
    width: var(--works-detail-img-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: sticky;

    /* + works-details-h2-overview-setの高さ */
    top: calc(var(--fixed-top-height) + 83px + var(--works-details-h2-overview-gap) + var(--works-details-h2-overview-padding-bottom));
}

/* 右側 */
.works-detail-desc {
    width: var(--works-detail-desc-width);
    height: 600px;
}

.works-detail-meta {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.works-detail-meta>div {
    display: flex;
    align-items: flex-start;
}

:root {
    --h3-box-padding: 12px;
}

.works-detail-meta dt {
    font-family: var(--kaisei-decol);
    font-size: var(--h3-small-size);
    color: var(--gold);
    line-height: 1;
    width: fit-content;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: var(--h3-box-padding);
    border: 2px solid var(--gold);
    margin-right: 40px;
}

.works-detail-meta dd {
    margin-top: var(--h3-box-padding);
    line-height: 1.5;
}

/* UX設計の考え方 アコーディオン機能*/

/* 三角のアイコンを消す */
summary {
    display: block;
    list-style-type: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

summary::-webkit-details-marker {
    display: none;
}

/* summury button */
.works-approach h3 {
    line-height: 1;
}

:root {
    --works-approach-summary-button-width: 50px;
    --works-approach-summary-bar-height: 7px;
}

.works-approach-summary-button {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: var(--works-approach-summary-button-width);
    height: var(--works-approach-summary-button-width);
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 100;
    transition: background-color 0.3s;
}

.works-approach-summary-button::before,
.works-approach-summary-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: var(--works-approach-summary-bar-height);
    border-radius: calc(var(--works-approach-summary-bar-height) / 2);
    background-color: var(--gold);
    z-index: 101;
    transition: transform 0.3s ease;
}

.works-approach-summary-button::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

/* hover */
.works-approach summary:hover .works-approach-summary-button {
    background-color: var(--gold);
    transition: background-color 0.3s,
        transform 0.3s ease;
}

.works-approach summary:hover .works-approach-summary-button::before {
    transform: translate(-50%, -50%) rotate(270deg);
    transition: transform 0.3s ease;
}

.works-approach summary:hover .works-approach-summary-button::after {
    transform: translate(-50%, -50%) rotate(180deg);
    transition: transform 0.3s ease;
}

.works-approach summary:hover .works-approach-summary-button::before,
.works-approach summary:hover .works-approach-summary-button::after {
    background-color: #ffffff;
    transition: background-color 0.3s,
        transform 0.3s ease;
}

/* UX設計の考え方 */
.works-approach {
    border: 3px solid #ffffff;
    background-color: var(--gold);
    border-radius: calc((var(--h3-size) + var(--works-approach-h3-padding) * 2) / 2);
    transition:
        background-color 0.4s ease,
        border 0.4s ease,
        border-radius 0.4s ease,
        transform 0.4s ease;

    &::details-content {
        transition:
            height 0.4s,
            opacity 0.4s,
            content-visibility 0.4s allow-discrete;
        height: 0;
        opacity: 0;
        overflow: clip;
    }

    &[open]::details-content {
        opacity: 1;
    }
}

/* @supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }

    details[open]::details-content {
        height: auto;
    }
}

@supports not (interpolate-size: allow-keywords) {
    details[open]::details-content {
        height: 150px;
        overflow-y: scroll;
    }
} */

.works-approach:has(summary:hover) {
    border: 3px solid var(--gold);
    background-color: #ffffff;
    transition:
        background-color 0.3s,
        border 0.3s,
        transform 0.4s;
}

.works-approach h3 {
    transition:
        color 0.3s;
}

.works-approach summary:hover h3 {
    color: var(--gold);
    transition:
        color 0.3s;

}

/* open */
/* openの時、ボタン以外の範囲は押せない */
.works-approach[open]{
    pointer-events: none;
    cursor: default;
}

.works-approach-summary-button[open]{
    pointer-events: auto;
    cursor: pointer;
}

/*  */
.works-approach[open],
.works-approach[open]:has(summary:hover) {
    background-color: #ffffff;
    border-radius: 0;
    border: transparent;
    border-top: 3px dashed var(--gold);
    border-bottom: 3px dashed var(--gold);
    transition:
        background-color 0.4s ease,
        border 0.4s ease,
        border-radius 0.4s ease;
}

.works-approach[open] h3 {
    color: var(--gold);
}

.works-approach[open] .works-approach-summary-button {
    background-color: var(--gold);
}

.works-approach[open] .works-approach-summary-button::before,
.works-approach[open] .works-approach-summary-button::after {
    background-color: #ffffff;
}

.works-approach[open] .works-approach-summary-button::before {
    transform: translate(-50%, -50%) rotate(225deg);
}

.works-approach[open] .works-approach-summary-button::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.works-approach[open] summary:hover .works-approach-summary-button::before {
    transform: translate(-50%, -50%) rotate(405deg);
}

.works-approach[open] summary:hover .works-approach-summary-button::after {
    transform: translate(-50%, -50%) rotate(315deg);
}